.bootcamp {
  border: 1px solid red;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bootcamp img {
  border: 1px solid green;
  width: 9.375rem;
}

.bootcamp .tree {
  margin-left: auto;
  transform: translateY(-30px);
}

.bootcamp .rabbit {
  margin-right: auto;
  transform: translateY(30px);
}

.bootcamp p {
  background: #ffc;
  flex-grow: 1;
}

.bootcamp .lion {
  width: 100%;
}
