body {
  margin: 4rem;
}

figcaption {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.5rem;
}

img,
picture {
  max-width: 14rem;
  border-radius: 4px;
  background-color: #efefef;
  display: block;
  margin: 0 auto;
}

.container {
  .heading {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
  }

  .heading span[lang] {
    display: block;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
  }

  ul {
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    gap: 1.25rem;
    list-style: none;
  }

  li {
    position: relative;
  }
}

/* 반응형 지원 추가 */
@media (max-width: 600px) {
  body {
    margin: 2rem;
  }

  img,
  picture {
    max-width: 10rem;
  }

  .container ul {
    width: 100%;
    gap: 1rem;
  }
}
